<nav>
  <div class="nav-wrapper ">
    <a href="/" class="brand-logo">Store</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      {{#if isStore}}
        <li class="active"><a href="/store" >Store</a></li>
      {{else}}
        <li ><a href="/store" >Store</a></li>
      {{/if}}

      {{#if isCart}}
        <li class="active"><a href="/cart">Cart</a></li>
      {{else}}
        <li><a href="/cart">Cart</a></li>
      {{/if}}

      {{#if isAdd}}

        <li class="active"><a href="/add">Add Item</a></li>
      {{else}}
        <li><a href="/add">Add Item</a></li>
      {{/if}}

      {{#if isProfile}}
        <li class="active"><a href="/profile">Profile</a></li>
      {{else}}
        <li><a href="/profile">Profile</a></li>
      {{/if}}
    
      {{#if islogin }}
        <li class="active"><a href="/auth">Login</a></li>
      {{else if isRegister}}
        <li class="active"><a href="/auth">Login</a></li>
      {{else}}

        <li><a href="/auth">login</a></li>
      {{/if}}
      
    </ul>
  </div>
</nav>


